*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.img {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}
.background {
  background-color: black;
  width: 550px;
  padding: 20px;
  border-radius: 10px;

  .shopping {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .header-span {
    font-size: 20px;
    font-weight: 800;
  }
  .header-2span {
  }
}
.btn {
  color: white;
  padding: 5px;
  border: solid 1px white;
  border-radius: 2px;
}

span {
  color: white;
}
.fixed {
  position: fixed;
  top: 4rem;
  right: 0.25rem;
}
.DeleteIcon {
  color: white;
}
.cart {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
hr {
  margin-top: 20px;
}
h2 {
  padding-top: 20px;
  color: white;
}
